body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
  height: 100vh;
  width: 100vw;
  padding: 0%;
  margin: 0%;
}


.container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
  grid-template-rows: repeat(12, 1fr);    /* 12 equal rows */
  gap: 10px;
} 

#video-container {
  grid-row: 3 / span 5;     
  grid-column: 5 / span 4;  
  background: black;
}

#title {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;

  /* Camo effect */
  background: url('camo-pattern.png') no-repeat center/cover;
  background-size: 600px 150px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#sub-title{
  grid-row: 2 / span 1;
  grid-column: 1 / span 12;
  font-family: 'Imperial Script', cursive; 
}

#cam-stream {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* *********************************** Log *********************************** */
#log-container {
  grid-row: 3 / span 3;
  grid-column: 2 / span 3;
  border-style: inset;
}

#log {
  margin: 3%;
  background: lightgrey;
  height: 80%;
  overflow-y: scroll;     /* scroll when content overflows */
  text-align: left;
}

.log-error {
  color: red;
}

.log-info {
  color: darkgray;
  font-style: italic;
}

.log-warn {
  color: orange;
  font-style: italic;
}


/* *********************************** Controls *********************************** */
#controls-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);  
  grid-template-rows: repeat(3, 1fr);  
  gap: 5px;
  justify-items: center;  /* center content horizontally */
  align-items: center;    /* center content vertically */
  text-align: center;     /* center text under icons */
}